:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-layout-size-large: 144px;
  --dl-layout-size-small: 48px;
  --dl-layout-space-unit: 16px;
  --dl-layout-size-medium: 96px;
  --dl-layout-size-xlarge: 192px;
  --dl-layout-size-xsmall: 16px;
  --dl-layout-radius-round: 50%;
  --dl-layout-size-xxlarge: 288px;
  --dl-color-cdyn-dark_pink: #ff527fff;
  --dl-color-cdyn-dark_sage: #738678ff;
  --dl-color-cdyn-soft_blue: #8fa7dfff;
  --dl-color-cdyn-soft_pink: #b58392ff;
  --dl-color-cdyn-soft_sage: #9ddadbff;
  --dl-layout-size-maxwidth: 1400px;
  --dl-layout-radius-radius2: 2px;
  --dl-layout-radius-radius4: 4px;
  --dl-layout-radius-radius8: 8px;
  --dl-layout-space-halfunit: 8px;
  --dl-layout-space-sixunits: 96px;
  --dl-layout-space-twounits: 32px;
  --dl-color-cdyn-soft_orange: #fd9855ff;
  --dl-color-cdyn-soft_yellow: #ffcf77ff;
  --dl-layout-space-fiveunits: 80px;
  --dl-layout-space-fourunits: 64px;
  --dl-layout-space-threeunits: 48px;
  --dl-color-cdyn-dark_blue_grey: #232731ff;
  --dl-layout-space-oneandhalfunits: 24px;
}
 
.button {
  color: var(--dl-color-gray-black);
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 18px;
  box-shadow: 5px 6px 0px 0px #000000;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-layout-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: 0px;
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-unit);
  background-color: var(--dl-color-cdyn-soft_orange);
}
 
.button:hover {
  opacity: 0.5;
}
 
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
 
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
 
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
 
.list-item {
  display: list-item;
}
 
.teleport-show {
  display: flex !important;
  transform: none !important;
}
 
.social {
  width: 20px;
  display: flex;
  padding: 0px;
  box-shadow: none;
  align-items: center;
  border-width: 0px;
  border-radius: 0px;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
}
 
.button-clean {
  border: none;
  padding: 0px;
  box-shadow: none;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
 
.button-link {
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 24px;
  box-shadow: none;
  font-style: normal;
  align-items: center;
  font-weight: 400;
  line-height: 36px;
  padding-top: var(--dl-layout-space-threeunits);
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
  text-decoration: none;
  background-color: transparent;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
 
.accordion {
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  border-color: rgba(255, 255, 255, 0.2);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
 
.accordion:hover {
  color: white;
  border-color: white;
}
 
.blinking-cursor {
  animation-name: blink;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1,0,0,1);
}
 

 

 

 
.hero-head {
  color: var(--dl-color-gray-white);
  font-size: 90px;
  max-width: auto;
  align-self: start;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  line-height: 108px;
}
 
.bd-blur {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  backdrop-filter: blur(10px);
  justify-content: space-between;
  background-color: #D9D9D9A0;
}
 
.ipulse {
  color: var(--dl-color-cdyn-soft_pink);
  width: 0;
  display: inline-block;
  overflow: hidden;
  animation-name: pulse;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}
 
.ipulse-1 {
  animation-delay: 0s;
}
 
.ipulse-3 {
  animation-delay: 10s;
}
 
.ipulse-2 {
  animation-delay: 5s;
}
 
.ipulse-4 {
  animation-delay: 15s;
}
 
.ipulse-5 {
  animation-delay: 20s;
}
 
.ipulse-6 {
  animation-delay: 25s;
}
 
.ipulse-7 {
  animation-delay: 30s;
}
 
.ipulse-8 {
  animation-delay: 35s;
}
 
.heroText {
  font-size: 90px;
  font-style: normal;
  font-family: "Noto Sans Mono";
  font-weight: 500;
  line-height: 108px;
  text-transform: none;
  text-decoration: none;
}
 
.so_bold {
  font-size: 32px;
  font-family: "Noto Sans Mono";
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
 
.Heading {
  font-size: 32px;
  font-family: "Noto Sans Mono";
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
 
.Content {
  font-size: 16px;
  font-family: "Noto Sans Mono";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
 

 

 
@media(max-width: 767px) {
  .button-link {
    padding-top: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .hero-head {
    font-size: 36px;
    line-height: 43px;
  }
}
 
@media(max-width: 479px) {
  .accordion {
    padding-top: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .bd-blur {
    padding: 16px;
  }
}
